.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('images/mkndlogo.jpeg');
    background-position: 50% 50%
}

.u-section-1 .u-sheet-1 {
    min-height: 800px
}

.u-section-1 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 86px 466px 0 381px
}

.u-section-1 .u-text-2 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: -39px 279px 0 auto
}

.u-section-1 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: -39px 119px 60px auto
}

.u-section-1 .u-icon-1 {
    height: 100%
}

.u-section-1 .u-icon-2 {
    height: 100%
}

.u-section-1 .u-icon-3 {
    height: 100%
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 660px
    }
    .u-section-1 .u-text-1 {
        margin-left: 263px;
        margin-right: 394px;
        margin-top: 93px;
        width: auto
    }
    .u-section-1 .u-text-2 {
        margin-right: 233px;
        width: auto
    }
    .u-section-1 .u-social-icons-1 {
        margin-top: -32px;
        margin-right: 78px
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 506px
    }
    .u-section-1 .u-text-1 {
        margin-left: 119px;
        margin-right: 324px;
        margin-top: 46px
    }
    .u-section-1 .u-text-2 {
        margin-top: -35px;
        margin-right: 163px
    }
    .u-section-1 .u-social-icons-1 {
        margin-top: -35px;
        margin-right: 19px
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 380px
    }
    .u-section-1 .u-text-1 {
        margin-left: 24px;
        margin-right: 216px;
        margin-top: 14px
    }
    .u-section-1 .u-text-2 {
        margin-right: 47px
    }
    .u-section-1 .u-social-icons-1 {
        margin-top: -79px;
        margin-right: 92px
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 239px
    }
    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
        margin-left: 0;
        margin-right: 153px
    }
    .u-section-1 .u-text-2 {
        margin-right: 0
    }
    .u-section-1 .u-social-icons-1 {
        margin-top: 83px;
        margin-right: 9px;
        margin-bottom: 45px
    }
}

.u-section-2 {
    min-height: 1345px
}

.u-section-2 .u-layout-wrap-1 {
    pointer-events: auto;
    margin: 28px auto 0 0
}

.u-section-2 .u-layout-cell-1 {
    min-height: 1417px;
    pointer-events: auto;
    background-position: 50% 50%
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 0 30px 60px
}

.u-section-2 .u-custom-html-1 {
    min-height: 1257px;
    margin: 0 -120px 0 0
}

.u-section-2 .u-layout-cell-2 {
    min-height: 1417px;
    pointer-events: auto
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 60px
}

.u-section-2 .u-text-1 {
    font-family: "Archivo Black";
    background-image: none;
    letter-spacing: 4px;
    font-size: 3rem;
    margin: 166px 39px 0
}

.u-section-2 .u-line-1 {
    width: 448px;
    height: 3px;
    transform-origin: right center 0;
    margin: 39px auto 0
}

.u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: 457px;
    margin: 43px 93px 0
}

.u-section-2 .u-image-1 {
    width: 99px;
    height: 81px;
    margin: 103px auto 0 272px
}

.u-section-2 .u-text-3 {
    font-family: "Archivo Black";
    background-image: none;
    letter-spacing: 4px;
    font-size: 3rem;
    margin: 0
}

.u-section-2 .u-line-2 {
    width: 456px;
    height: 3px;
    transform-origin: right center 0;
    margin: 15px auto 0
}

.u-section-2 .u-text-4 {
    font-size: 1.25rem;
    width: 457px;
    margin: 59px auto 0
}

@media (max-width: 1199px) {
    .u-section-2 {
        min-height: 1090px
    }
    .u-section-2 .u-layout-wrap-1 {
        margin-bottom: 60px;
        margin-right: initial;
        margin-left: initial
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 1428px
    }
    .u-section-2 .u-custom-html-1 {
        margin-top: -1px;
        margin-bottom: -1px;
        height: auto;
        margin-right: initial;
        margin-left: initial
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: 1428px
    }
    .u-section-2 .u-text-1 {
        margin-left: 0;
        margin-right: 0
    }
    .u-section-2 .u-line-1 {
        width: 300px;
        margin-top: 11px;
        margin-left: 25px
    }
    .u-section-2 .u-text-2 {
        width: auto;
        margin-top: 75px;
        margin-right: 21px;
        margin-left: 0
    }
    .u-section-2 .u-image-1 {
        margin-top: 87px;
        margin-right: 50px;
        margin-left: auto
    }
    .u-section-2 .u-text-3 {
        margin-top: 12px
    }
    .u-section-2 .u-line-2 {
        width: 350px;
        margin-right: 0;
        margin-left: 0
    }
    .u-section-2 .u-text-4 {
        width: 300px;
        margin-left: 25px;
        margin-right: 25px
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-layout-cell-1 {
        min-height: 100px
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 30px
    }
    .u-section-2 .u-custom-html-1 {
        margin-right: -54px;
        margin-left: 0
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: 100px
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px
    }
    .u-section-2 .u-text-1 {
        margin-left: -17px;
        margin-right: -17px
    }
    .u-section-2 .u-line-1 {
        margin-top: 28px;
        margin-right: initial;
        margin-left: initial;
        width: auto
    }
    .u-section-2 .u-text-2 {
        margin-top: 40px;
        margin-right: 16px
    }
    .u-section-2 .u-image-1 {
        margin-top: 59px;
        margin-left: 101px
    }
    .u-section-2 .u-text-3 {
        margin-top: 17px
    }
    .u-section-2 .u-line-2 {
        margin-top: 25px;
        margin-right: initial;
        margin-left: initial;
        width: auto
    }
    .u-section-2 .u-text-4 {
        width: auto;
        margin-right: 0
    }
}

@media (max-width: 767px) {
    .u-section-2 {
        min-height: 2429px
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 10px
    }
    .u-section-2 .u-custom-html-1 {
        min-height: 1287px;
        margin: -30px 99px -30px 89px
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }
    .u-section-2 .u-text-1 {
        width: auto;
        margin-top: 42px;
        margin-right: 14px;
        margin-left: auto
    }
    .u-section-2 .u-line-1 {
        width: 540px;
        margin-top: 17px;
        margin-left: auto;
        margin-right: auto
    }
    .u-section-2 .u-text-2 {
        margin-right: auto;
        margin-left: 101px
    }
    .u-section-2 .u-image-1 {
        margin-top: 72px;
        margin-left: 261px
    }
    .u-section-2 .u-text-3 {
        margin-top: 25px
    }
    .u-section-2 .u-line-2 {
        width: 540px;
        margin-left: auto;
        margin-right: auto
    }
    .u-section-2 .u-text-4 {
        margin-right: 75px;
        margin-left: 101px
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-custom-html-1 {
        margin-right: 0;
        margin-left: 0
    }
    .u-section-2 .u-text-1 {
        margin-right: 0
    }
    .u-section-2 .u-line-1 {
        width: 320px
    }
    .u-section-2 .u-text-2 {
        margin-left: 42px
    }
    .u-section-2 .u-image-1 {
        margin-right: 5px;
        margin-left: 161px
    }
    .u-section-2 .u-line-2 {
        width: 320px
    }
    .u-section-2 .u-text-4 {
        margin-left: auto;
        margin-right: auto;
        width: 336px
    }
}

.u-section-3 {
    margin-top: 0;
    margin-bottom: 0
}

.u-section-3 .u-sheet-1 {
    min-height: 521px
}

.u-section-3 .u-group-1 {
    width: 1138px;
    min-height: 439px;
    margin: 41px auto 0
}

.u-section-3 .u-container-layout-1 {
    padding: 30px
}

.u-section-3 .u-layout-wrap-1 {
    width: 1140px;
    margin: -420px auto 60px 2px
}

.u-section-3 .u-layout-cell-1 {
    min-height: 431px
}

.u-section-3 .u-container-layout-2 {
    padding: 20px 30px
}

.u-section-3 .u-image-1 {
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
    margin: 0 auto 0 0
}

.u-section-3 .u-text-1 {
    margin: 28px 0 0
}

.u-section-3 .u-text-2 {
    margin: 20px 0 0
}

.u-section-3 .u-btn-1 {
    background-image: none;
    margin: 17px auto 0
}

.u-section-3 .u-layout-cell-2 {
    min-height: 431px
}

.u-section-3 .u-container-layout-3 {
    padding: 20px 30px
}

.u-section-3 .u-image-2 {
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
    margin: 0 0 0 auto
}

.u-section-3 .u-text-3 {
    margin: 30px 0 0
}

.u-section-3 .u-text-4 {
    margin: 20px 0 0
}

.u-section-3 .u-btn-2 {
    background-image: none;
    margin: 15px auto 0
}

.u-section-3 .u-layout-cell-3 {
    min-height: 431px
}

.u-section-3 .u-container-layout-4 {
    padding: 20px 30px
}

.u-section-3 .u-image-3 {
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
    margin: 0 0 0 auto
}

.u-section-3 .u-text-5 {
    margin: 30px 0 0
}

.u-section-3 .u-text-6 {
    margin: 20px 1px 0 -1px
}

.u-section-3 .u-btn-3 {
    background-image: none;
    margin: 15px auto 0
}

.u-section-3 .u-layout-cell-4 {
    min-height: 431px
}

.u-section-3 .u-container-layout-5 {
    padding: 20px 30px
}

.u-section-3 .u-image-4 {
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
    margin: 0 auto 0 0
}

.u-section-3 .u-text-7 {
    margin: 30px 0 0
}

.u-section-3 .u-text-8 {
    margin: 20px 0 0
}

.u-section-3 .u-btn-4 {
    background-image: none;
    margin: 15px auto 0
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 523px
    }
    .u-section-3 .u-group-1 {
        width: 940px;
        height: auto;
        margin-top: 42px
    }
    .u-section-3 .u-layout-wrap-1 {
        width: 940px;
        margin-left: 0
    }
    .u-section-3 .u-layout-cell-1 {
        min-height: 355px
    }
    .u-section-3 .u-image-1 {
        width: 153px;
        height: 153px
    }
    .u-section-3 .u-text-2 {
        margin-top: 59px
    }
    .u-section-3 .u-btn-1 {
        margin-top: 28px;
        margin-left: 17px
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 355px
    }
    .u-section-3 .u-image-2 {
        width: 153px;
        height: 153px
    }
    .u-section-3 .u-text-4 {
        margin-top: 57px
    }
    .u-section-3 .u-btn-2 {
        margin-top: 28px;
        margin-left: 17px
    }
    .u-section-3 .u-layout-cell-3 {
        min-height: 355px
    }
    .u-section-3 .u-image-3 {
        width: 153px;
        height: 153px
    }
    .u-section-3 .u-text-6 {
        margin-top: 33px;
        margin-left: 0;
        margin-right: 0
    }
    .u-section-3 .u-btn-3 {
        margin-top: 28px;
        margin-left: 17px
    }
    .u-section-3 .u-layout-cell-4 {
        min-height: 355px
    }
    .u-section-3 .u-image-4 {
        width: 153px;
        height: 153px
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-group-1 {
        min-height: 846px;
        margin-right: initial;
        margin-left: initial;
        width: auto
    }
    .u-section-3 .u-layout-wrap-1 {
        margin-top: -827px;
        width: 720px
    }
    .u-section-3 .u-layout-cell-1 {
        min-height: 100px
    }
    .u-section-3 .u-image-1 {
        margin-left: auto
    }
    .u-section-3 .u-btn-1 {
        margin-left: auto
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 100px
    }
    .u-section-3 .u-image-2 {
        margin-right: auto
    }
    .u-section-3 .u-btn-2 {
        margin-left: auto
    }
    .u-section-3 .u-layout-cell-3 {
        min-height: 100px
    }
    .u-section-3 .u-image-3 {
        margin-right: auto
    }
    .u-section-3 .u-btn-3 {
        margin-left: auto
    }
    .u-section-3 .u-layout-cell-4 {
        min-height: 100px
    }
    .u-section-3 .u-image-4 {
        margin-left: auto
    }
    .u-section-3 .u-text-8 {
        margin-top: 33px
    }
    .u-section-3 .u-btn-4 {
        margin-top: 28px;
        margin-left: 84px
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-group-1 {
        min-height: 1729px;
        margin-top: 22px;
        width: auto;
        margin-right: initial;
        margin-left: initial
    }
    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }
    .u-section-3 .u-layout-wrap-1 {
        margin-top: -1721px;
        margin-bottom: 55px;
        margin-right: initial;
        margin-left: initial;
        width: auto
    }
    .u-section-3 .u-layout-cell-1 {
        min-height: 432px
    }
    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 432px
    }
    .u-section-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px
    }
    .u-section-3 .u-layout-cell-3 {
        min-height: 408px
    }
    .u-section-3 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px
    }
    .u-section-3 .u-layout-cell-4 {
        min-height: 403px
    }
    .u-section-3 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px
    }
    .u-section-3 .u-btn-4 {
        margin-top: 22px;
        margin-left: auto
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1641px
    }
    .u-section-3 .u-layout-cell-1 {
        min-height: 100px
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 100px
    }
    .u-section-3 .u-layout-cell-3 {
        min-height: 100px
    }
    .u-section-3 .u-layout-cell-4 {
        min-height: 100px
    }
}

.u-section-4 {
    margin-top: 0;
    margin-bottom: 0
}

.u-section-4 .u-sheet-1 {
    min-height: 392px
}

.u-section-4 .u-text-1 {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 55px auto 0
}

.u-section-4 .u-shape-1 {
    width: 20px;
    height: 20px;
    margin: 54px auto 0 483px
}

.u-section-4 .u-shape-2 {
    width: 20px;
    height: 20px;
    margin: -20px 483px 0 auto
}

.u-section-4 .u-btn-1 {
    background-image: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto 0 510px
}

.u-section-4 .u-shape-3 {
    width: 20px;
    height: 20px;
    margin: 0 483px 0 auto
}

.u-section-4 .u-shape-4 {
    width: 20px;
    height: 20px;
    background-image: none;
    margin: -20px auto 0 483px
}

.u-section-4 .u-line-1 {
    width: 912px;
    margin: 30px auto 0
}

.u-section-4 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: 30px auto 60px
}

.u-section-4 .u-icon-1 {
    height: 100%
}

.u-section-4 .u-icon-2 {
    height: 100%
}

.u-section-4 .u-icon-3 {
    height: 100%
}

@media (max-width: 1199px) {
    .u-section-4 .u-shape-1 {
        margin-top: 22px;
        margin-left: 387px
    }
    .u-section-4 .u-shape-2 {
        margin-right: 392px
    }
    .u-section-4 .u-btn-1 {
        margin-left: 407px
    }
    .u-section-4 .u-shape-3 {
        margin-right: 392px
    }
    .u-section-4 .u-shape-4 {
        margin-left: 387px
    }
    .u-section-4 .u-line-1 {
        margin-top: 63px;
        margin-left: 14px
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-shape-1 {
        margin-top: 30px;
        margin-left: 277px
    }
    .u-section-4 .u-shape-2 {
        margin-right: 282px
    }
    .u-section-4 .u-btn-1 {
        margin-top: 4px;
        margin-left: 297px
    }
    .u-section-4 .u-shape-3 {
        margin-top: -4px;
        margin-right: 282px
    }
    .u-section-4 .u-shape-4 {
        margin-left: 277px
    }
    .u-section-4 .u-line-1 {
        width: 720px;
        margin-top: 54px;
        margin-left: 0
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
        min-height: 303px
    }
    .u-section-4 .u-shape-1 {
        margin-top: 34px;
        margin-left: 192px
    }
    .u-section-4 .u-shape-2 {
        margin-right: 192px
    }
    .u-section-4 .u-btn-1 {
        margin-top: 0;
        margin-left: auto
    }
    .u-section-4 .u-shape-3 {
        margin-top: 0;
        margin-right: 192px
    }
    .u-section-4 .u-shape-4 {
        margin-left: 192px
    }
    .u-section-4 .u-line-1 {
        margin-top: 50px;
        margin-right: initial;
        margin-left: initial;
        width: auto
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 306px
    }
    .u-section-4 .u-shape-1 {
        margin-top: 30px;
        margin-left: 92px
    }
    .u-section-4 .u-shape-2 {
        margin-right: 87px
    }
    .u-section-4 .u-btn-1 {
        margin-right: 107px
    }
    .u-section-4 .u-shape-3 {
        margin-top: 4px;
        margin-right: 87px
    }
    .u-section-4 .u-shape-4 {
        margin-left: 92px
    }
}

.u-section-5 {
    min-height: 418px;
    margin-top: 0;
    margin-bottom: 0
}

.u-section-5 .u-custom-html-1 {
    min-height: 303px;
    width: 1308px;
    margin: 0 0 0 calc(((100% - 1140px) / 2) + -88px)
}

.u-section-5 .u-text-1 {
    margin: 80px calc(((100% - 1140px) / 2) + 414px) 10px
}

@media (max-width: 1199px) {
    .u-section-5 .u-custom-html-1 {
        height: auto;
        margin-right: auto;
        margin-left: auto;
        width: 940px
    }
    .u-section-5 .u-text-1 {
        margin-left: calc(((100% - 940px) / 2) + 314px);
        margin-right: calc(((100% - 940px) / 2) + 314px)
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-custom-html-1 {
        margin-left: calc(((100% - 720px) / 2));
        width: 720px
    }
    .u-section-5 .u-text-1 {
        margin-left: calc(((100% - 720px) / 2) + 204px);
        margin-right: calc(((100% - 720px) / 2) + 204px)
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-custom-html-1 {
        margin-left: calc(((100% - 540px) / 2));
        width: 540px
    }
    .u-section-5 .u-text-1 {
        margin-left: calc(((100% - 540px) / 2) + 114px);
        margin-right: calc(((100% - 540px) / 2) + 114px)
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-custom-html-1 {
        margin-left: calc(((100% - 340px) / 2));
        width: 340px
    }
    .u-section-5 .u-text-1 {
        margin-left: calc(((100% - 340px) / 2) + 14px);
        margin-right: calc(((100% - 340px) / 2) + 14px)
    }
}