.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url('images/mkndlogo.jpeg'); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {font-size: 6rem; font-weight: 700; margin: 159px 466px 0 381px}
.u-section-1 .u-text-2 {font-size: 2.25rem; font-weight: 700; margin: -39px 279px 0 auto}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: -39px 119px 60px auto}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-1 {margin-left: 263px; margin-right: 394px; margin-top: 93px; width: auto}
.u-section-1 .u-text-2 {margin-right: 233px; width: auto}
.u-section-1 .u-social-icons-1 {margin-top: -32px; margin-right: 78px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px}
.u-section-1 .u-text-1 {margin-left: 119px; margin-right: 324px; margin-top: 46px}
.u-section-1 .u-text-2 {margin-top: -35px; margin-right: 163px}
.u-section-1 .u-social-icons-1 {margin-top: -35px; margin-right: 19px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-text-1 {margin-left: 24px; margin-right: 216px; margin-top: 14px}
.u-section-1 .u-text-2 {margin-right: 47px}
.u-section-1 .u-social-icons-1 {margin-top: -79px; margin-right: 92px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 239px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-left: 0; margin-right: 153px}
.u-section-1 .u-text-2 {margin-right: 0}
.u-section-1 .u-social-icons-1 {margin-top: 83px; margin-right: 9px; margin-bottom: 45px} }.u-section-2 {min-height: 1088px}
.u-section-2 .u-layout-wrap-1 {pointer-events: auto; width: calc(((100% - 1140px) / 2) + 1140px); margin: 28px auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 1175px; pointer-events: auto; background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px 60px}
.u-section-2 .u-custom-html-1 {width: 348px; min-height: 1107px; height: auto; margin: 0 -120px 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 1175px; pointer-events: auto}
.u-section-2 .u-container-layout-2 {padding: 30px 60px}
.u-section-2 .u-image-1 {width: 99px; height: 81px; margin: 98px 325px 0}
.u-section-2 .u-text-1 {font-family: "Archivo Black"; background-image: none; letter-spacing: 4px; font-size: 3rem; margin: 26px 0 0}
.u-section-2 .u-line-1 {width: 456px; height: 3px; transform-origin: right center 0; margin: 15px auto 0}
.u-section-2 .u-text-2 {font-size: 1.25rem; margin: 109px 0 0 186px} 

@media (max-width: 1199px){ .u-section-2 {min-height: 1090px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-layout-cell-1 {min-height: 1190px}
.u-section-2 .u-custom-html-1 {margin-top: -1px; margin-bottom: -1px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-layout-cell-2 {min-height: 1190px}
.u-section-2 .u-image-1 {margin-right: 126px; margin-left: 126px}
.u-section-2 .u-line-1 {width: 350px}
.u-section-2 .u-text-2 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 911px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 911px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-image-1 {margin-right: 101px; margin-left: 101px}
.u-section-2 .u-line-1 {width: 300px}
.u-section-2 .u-text-2 {margin-left: 25px; width: auto} }

@media (max-width: 767px){ .u-section-2 .u-layout-cell-1 {min-height: 1367px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-custom-html-1 {min-height: 1237px; width: 544px; margin: -30px auto 0}
.u-section-2 .u-layout-cell-2 {min-height: 1367px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-2 {margin-left: 101px; margin-right: 75px} }

@media (max-width: 575px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-custom-html-1 {width: 320px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-text-2 {margin-left: auto; margin-right: auto; width: 336px} }.u-section-3 .u-sheet-1 {min-height: 392px}
.u-section-3 .u-text-1 {font-weight: 700; letter-spacing: 2px; margin: 55px auto 0}
.u-section-3 .u-shape-1 {width: 20px; height: 20px; margin: 54px auto 0 483px}
.u-section-3 .u-shape-2 {width: 20px; height: 20px; margin: -20px 483px 0 auto}
.u-section-3 .u-btn-1 {background-image: none; font-weight: 700; text-transform: uppercase; letter-spacing: 2px; margin: 0 auto 0 510px}
.u-section-3 .u-shape-3 {width: 20px; height: 20px; margin: 0 483px 0 auto}
.u-section-3 .u-shape-4 {width: 20px; height: 20px; background-image: none; margin: -20px auto 0 483px}
.u-section-3 .u-line-1 {width: 912px; margin: 30px auto 0}
.u-section-3 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: 30px auto 60px}
.u-section-3 .u-icon-1 {height: 100%}
.u-section-3 .u-icon-2 {height: 100%}
.u-section-3 .u-icon-3 {height: 100%} 

@media (max-width: 1199px){ .u-section-3 .u-shape-1 {margin-top: 22px; margin-left: 387px}
.u-section-3 .u-shape-2 {margin-right: 392px}
.u-section-3 .u-btn-1 {margin-left: 407px}
.u-section-3 .u-shape-3 {margin-right: 392px}
.u-section-3 .u-shape-4 {margin-left: 387px}
.u-section-3 .u-line-1 {margin-top: 63px; margin-left: 14px} }

@media (max-width: 991px){ .u-section-3 .u-shape-1 {margin-top: 30px; margin-left: 277px}
.u-section-3 .u-shape-2 {margin-right: 282px}
.u-section-3 .u-btn-1 {margin-top: 4px; margin-left: 297px}
.u-section-3 .u-shape-3 {margin-top: -4px; margin-right: 282px}
.u-section-3 .u-shape-4 {margin-left: 277px}
.u-section-3 .u-line-1 {width: 720px; margin-top: 54px; margin-left: 0} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 303px}
.u-section-3 .u-shape-1 {margin-top: 34px; margin-left: 192px}
.u-section-3 .u-shape-2 {margin-right: 192px}
.u-section-3 .u-btn-1 {margin-top: 0; margin-left: auto}
.u-section-3 .u-shape-3 {margin-top: 0; margin-right: 192px}
.u-section-3 .u-shape-4 {margin-left: 192px}
.u-section-3 .u-line-1 {margin-top: 50px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 306px}
.u-section-3 .u-shape-1 {margin-top: 30px; margin-left: 92px}
.u-section-3 .u-shape-2 {margin-right: 87px}
.u-section-3 .u-btn-1 {margin-right: 107px}
.u-section-3 .u-shape-3 {margin-top: 4px; margin-right: 87px}
.u-section-3 .u-shape-4 {margin-left: 92px} }.u-section-4 {min-height: 383px}
.u-section-4 .u-custom-html-1 {min-height: 303px; height: auto; width: 1308px; margin: 0 0 0 calc(((100% - 1140px) / 2) + -88px)}
.u-section-4 .u-text-1 {margin: 80px auto 10px} 

@media (max-width: 1199px){ .u-section-4 .u-custom-html-1 {margin-right: auto; margin-left: auto; width: 940px} }

@media (max-width: 991px){ .u-section-4 .u-custom-html-1 {margin-left: calc(((100% - 720px) / 2)); width: 720px} }

@media (max-width: 767px){ .u-section-4 .u-custom-html-1 {margin-left: calc(((100% - 540px) / 2)); width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-custom-html-1 {margin-left: calc(((100% - 340px) / 2)); width: 340px} }